body {
    background-color: rgb(124, 179, 124);
}

h1 {
    
    background-color: #ffff99;
    text-align: center; 
    color: white;
    font-family: New Courier;
    font-size: 48px;
    
}

h2 {
    
    background-color: #ffff99;
    text-align: center; 
    color: white;
    font-family: New Courier;
    font-size: 28px;
    
}

.box1 {
    padding-top: 1em;
    padding-right: 1em;
    padding-left:  1em;
    padding-bottom: 1em;
    background-color: #ffff99;
}

.button1 {
    background-color: rgb(124, 179, 124);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    font-family: New Courier;
}

.flex-container1 {
    display: flex;
    width: 625px;
    height: 175px;
    flex-direction: row;
    position: relative;
    left: 27%;
    align-content: space-between;   
    background-color: gainsboro; 
    justify-content: center;
    align-items: center;
}


.flex-container1>div {
    background-color: aqua;
    flex-direction: row;
    position: relative;
    bottom: 10px;
    top:100px
    width: 250px;    
    margin: 10px;  
    text-align: left;
    line-height: 25px;
    font-size: 15px;
}

.flex-container2 {
    display: flex;
    width: 625px;
    height: 175px;
    flex-direction: row;
    position: relative;
    left: 27%;
    align-content: space-between;   
    background-color: gainsboro; 
    justify-content: center;
    align-items: center;
}


.flex-container2>div1 {
    background-color: aqua;
    flex-direction: row;
    position: relative;
    bottom: 10px;
    top:10px
    width: 250px;
    margin: 10px;  
    text-align: left;
    line-height: 25px;
    font-size: 15px;
}






