/*Webpage body background color*/
body {
    background-color: rgb(215, 253, 236);
    font-family: 'Times New Roman', Times, serif;
    max-width: 1340px;
    max-height: 1400px;
}

/*Add banner flexbox and content title*/
.banner1 {
    background-color: rgb(212, 173, 207);
    font-family: 'Book Antiqua', Times, serif;
    font-size: 3vw;
    font-style: italic; 
    max-width: 1400px;
    height: 175px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 2 auto;
    justify-content: center;
    color: rgb(133, 96, 132);
    margin-top: 100px;
    margin-left: 0px;
}

/*Add paragraph content in describing my webpage purpose inside flexbox container*/ 
.paracontainer {
    background-color: rgb(227, 238, 233);
    font-family: 'Book Antiqua', Times, serif;
    font-size: 1.3vw;  
    max-width: 1400px;
    height: 160px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: 250px;
    flex: 1 2 auto;
    justify-content: center;
    color: rgb(133, 96, 132);
    
   
    margin-top: 0px;
    margin-left: 0px;
    line-height: 25px; 
    
}

/* Assigned selector to element paragraph to set margin size */
.p1  {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 25px;
    
}

/* Assigned selector to element order list to set number order list inside flexbox container*/
.olcontainer  {
    background-color: rgb(227, 238, 233);
    font-family: 'Book Antiqua', Times, serif;
    font-size: 1.2vw;  
    max-width: 1400px;
    height: 150px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 2 auto;
    justify-content: center;
    color: rgb(133, 96, 132);
    margin-top: 0px;
    margin-left: 0px 
}

/* Assigned selector to element division to set outer flexbox container and background collor.*/
.flex-container2 {   
    display: flex;
    justify-content: center;     
    height: 750px;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: rgb(227, 238, 233);
    border:1px  rgb(133, 96, 132);
    margin: 15px;
    padding:5px; 
}

/* Assigned selector to element within the main flexbox container and added three (3) childs flexbox containers. */
.flex-container2 > div {
    margin: 15px; 
    background-color: rgb(215, 253, 236);
    flex-direction: row;
    position: relative;
    bottom: 10px;
    top:25px;
    width: 360px;   
    height: 750px; 
    line-height: 15px;
    font-size: 15px;
    justify-content: center;   
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(133, 96, 132);
  
    flex:1 1 auto;
    border:1px rgb(133, 96, 132) solid;
    text-align: left 15px;
}

/* Assigned selector button 1 to the 1st child flexbox contrainer. */
.button1 {
    border: none;
    background-color: rgb(212, 173, 207);
    padding: 14px 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(133, 96, 132); 
    margin-left: 100px;     
}

.button1:hover {
    background: #eeeeee;
}
.Darden {
    color: rgb(133, 96, 132);
}

/* Assigned selector button 2 to the 2nd child flexbox contrainer. */
.button2 {
    border: none;
    background-color: rgb(212, 173, 207);
    padding: 14px 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(133, 96, 132); 
    margin-left: 100px;     
}

.button2:hover {
    background: #eeeeee;
}
.Lovelace {
    color: rgb(133, 96, 132);
}

/* Assigned selector button 3 to the 3rd child flexbox contrainer. */
.button3 {
    border: none;
    background-color: rgb(212, 173, 207);
    padding: 14px 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(133, 96, 132); 
    margin-left: 100px;     
}

.button3:hover {
    background: #eeeeee;
}
.Jitomirskaya {
    color: rgb(133, 96, 132);
}

/* Added text alignment to the H2 element for centering content. */
h2 {
    text-align: center;
}

/* Added text alignment to the H4 element for left margin content. */
h4 {
    margin-left: 15px;
}

/* Added text alignment to the H5 element for left margin content. */
h5 {
    margin-left: 15px;
}

/* Added text alignment to the strong element for left margin content. */
strong {
    margin-left: 15px;
}

/* Added text alignment to the paragraph element for left and right margin content. */
p {
    margin-left: 15px;
    margin-right: 15px;
}



